
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('~leaflet/dist/leaflet.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.map-sidebar {
    color: #d9dade;
}

.row {
    margin: 0;
}

#map {
  height: 94vh;
}
